@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}
nav .active {
  text-decoration: underline;
  text-decoration-color: rgb(0, 255, 76);
  text-underline-offset: 8px;
}

.leaflet-container {
  border-radius: 22px;
}
